<div class="row">
  <div class="col-xl-10 offset-xl-1 col-md-12">
    <div class="card form-card">
      <div class="card-header">
        Editar Cheatsheet
      </div>
      <div class="card-block">
        <form #formNewCheatsheet="ngForm" novalidate (ngSubmit)="update()">
          <div class="form-group">
            <label>Título</label>
            <input class="form-control" type="text" name="title" [(ngModel)]="cheatsheet.title" #titleModel="ngModel" autofocus required>
          </div>
          <div class="form-group">
            <label>Categoría</label>
            <select class="form-control" name="category" [(ngModel)]="cheatsheet.category.id" #categoryModel="ngModel" required>
              <option *ngFor="let category of categories" [ngValue]="category.id">{{ category.name }}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Lenguaje</label>
            <select class="form-control" name="language" [(ngModel)]="cheatsheet.language.id" #languageModel="ngModel" required (change)="aceEditorSetExtension()">
              <option *ngFor="let language of languages" [ngValue]="language.id">{{ language.name }}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Comentario</label>
            <textarea name="comment" [(ngModel)]="cheatsheet.comment" #commentModel="ngModel" required hidden></textarea>
            <tinymce [elementId]="'myeditor'" (onEditorKeyup)="keyupTinyEditor($event)"></tinymce>
          </div>
          <div class="form-group">
            <label>Código</label>
            <textarea name="code" [(ngModel)]="cheatsheet.code" #codeModel="ngModel" required hidden></textarea>
            <ace-editor [code]="cheatsheet.code" [highlightActiveLine]="false" [extension]="cheatsheet.language.extension" (onEditorChange)="changeAceEditor($event)"></ace-editor>
          </div>
          <div class="form-group">
            <input class="btn btn-secondary btn-send" type="submit" [disabled]="formNewCheatsheet.invalid" value="Guardar">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
