<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
    aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
  <a class="logo" [routerLink]="['/home']"></a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav ml-auto mr-4 my-lg-0 my-md-4" *ngIf="user">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/categories']" >Categories</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/languages']">Languages</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/cheatsheets']">Cheatsheets</a>
      </li>
      <li class="nav-item" *ngIf="loggedAdmin" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/users']">Users</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/profile']">Profile</a>
      </li>
    </ul>
    <ul class="navbar-nav" [ngClass]="{'ml-auto': !user}">
      <li class="nav-item" *ngIf="!user">
        <button class="btn btn-outline-secondary btn-login" type="button" [routerLink]="['/auth/login']">Login</button>
      </li>
      <li class="nav-item" *ngIf="user">
        <button class="btn btn-outline-secondary btn-login" type="button" (click)="logout()">Logout</button>
      </li>
    </ul>
  </div>
</nav>