<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
    crossorigin="anonymous">

  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
      aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <a class="logo" href="#"></a>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ml-auto mr-4 my-lg-0 my-md-4">
        <li class="nav-item active">
          <a class="nav-link" href="#">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Languages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cheatsheets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Users</a>
        </li>
      </ul>
      <button class="btn btn-secondary btn-login" type="button">Login</button>
    </div>
  </nav>









  <div class="container-fluid mt-4">
    <div class="row">
      <div class="col-lg-8 col-sm-12">
        <main class="">
          <div class="card card-category">
            <div class="card-header">
              Featured
            </div>
            <div class="card-block">
              <ul class="list-group list-group-flush">
                <li class="list-group-item list-group-item-action">Cras justo odio</li>
                <li class="list-group-item list-group-item-action">Dapibus ac facilisis in</li>
                <li class="list-group-item list-group-item-action">Vestibulum at eros</li>
              </ul>
            </div>
          </div>
        </main>
      </div>
      <div class="col-lg-4 hidden-md-down">
        <aside class="bg-warning">
          <div class="card card-asside ">
            <div class="card-header">
              Ultimas añadidas
            </div>
            <div class="card-block">
              <ul class="list-group list-group-flush">
                <li class="list-group-item list-group-item-action">Cras justo odio</li>
                <li class="list-group-item list-group-item-action">Dapibus ac facilisis in</li>
                <li class="list-group-item list-group-item-action">Vestibulum at eros</li>
              </ul>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </div>




















  <!-- jQuery first, then Tether, then Bootstrap JS. -->
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
    crossorigin="anonymous"></script>
</body>

</html>