<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-12">
      <main>
        <div class="card form-card">
          <div class="card-header d-flex justify-content-between">
            Users
            <button class="btn btn-outline-secondary">Añadir usuario</button>
          </div>
          <div class="card-block">
            <table class="table">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>email</th>
                  <th>Administrador</th>
                  <th>Activo</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users">
                  <td>{{ user.name }}</td>
                  <td>{{ user.email }}</td>
                  <td><input type="checkbox" class="form-check-input" [checked]="user.admin"></td>
                  <td><input type="checkbox" class="form-check-input" [checked]="user.is_active"></td>
                  <td><button class="btn btn-link">Cambiar password</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>