<div class="modal-header bg-secondary text-white">
  <h4 class="modal-title">Cambiar password de {{ user.email }}</h4>
</div>
<div class="modal-body">
  <form #formPassword="ngForm" novalidate (ngSubmit)="change()">
    <div class="form-group">
      <label>Password</label>
      <input class="form-control" type="password" minlength="4" name="password" [(ngModel)]="user.password" #passwordModel="ngModel" required>
    </div>
    <div class="form-group">
      <label>Confirm password</label>
      <input class="form-control" type="password" name="confirmpassword" [(ngModel)]="confirmpassword" #confirmpasswordModel="ngModel" required>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="activeModal.dismiss()">Cancelar</button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.close()" 
    [disabled]="formPassword.invalid || passwordModel.value !== confirmpasswordModel.value">Cambiar</button>
</div>